{% load cnto_tags %}

<table id="group-list-table" class="table table-striped tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Leader</th>
            <th>Members</th>
            <th></th>
        </tr>
    </thead>
    {% for group in groups %}
    <tr id="group-{{ group.pk }}">
        <td><a href="{% url 'edit-group' group.pk %}">{{ group.name }}</td>
        <td>{{ group.leader.name }}</td>
        <td>{{ group|value_of:"member_count" }}</td>

        <td>
            <a class="delete-group" href="#"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'create-group' %}" class="btn btn-default" id="create-group" type="button">
    Create group
</a>


<div class="modal fade" id="deleting-group-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deleting</h4>
            </div>
            <div class="modal-body">
                <p>Please wait while deleting group...</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function()
        {
            $("#group-list-table").tablesorter({
                headers: {
                    // assign the secound column (we start counting zero)
                    2: { sorter: false }
                }
            });
        }
    );
</script>