backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
decorator==4.0.11
Django==1.8.4
django-bootstrap3-datetimepicker==2.2.3
django-braces==1.11.0
django-crispy-forms==1.6.1
enum34==1.1.6
ipython==5.3.0
ipython-genutils==0.1.0
lxml==4.6.2
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
psycopg2==2.7
ptyprocess==0.5.1
Pygments==2.2.0
python-valve==0.1.1
pytz==2016.10
requests==2.13.0
scandir==1.5
simplegeneric==0.8.1
traitlets==4.3.2
wcwidth==0.1.7
behave-django==0.5.0
splinter==0.7.5
