{% extends "cnto/member/base.html" %}

{% block content %}
<div class="container col-md-8 col-md-offset-2">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs member-table" id="major-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#recruits" aria-controls="profile" role="tab" data-toggle="tab">Recruits</a></li>
    <li role="presentation"><a href="#members" aria-controls="home" role="tab" data-toggle="tab">Members</a></li>
    <li role="presentation"><a href="#absences" aria-controls="profile" role="tab" data-toggle="tab">Absentees</a></li>
    <li role="presentation"><a href="#groups" aria-controls="profile" role="tab" data-toggle="tab">Groups</a></li>
    <li role="presentation"><a href="#event-types" aria-controls="profile" role="tab" data-toggle="tab">Event types</a></li>
    <li role="presentation"><a href="#members-discharged" aria-controls="profile" role="tab" data-toggle="tab">Discharges</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane row active" id="recruits">
        {% include 'cnto/member/list-recruits.html' %}
    </div>
    <div role="tabpanel" class="tab-pane row" id="members">
        {% include 'cnto/member/list.html' %}
    </div>
    <div role="tabpanel" class="tab-pane row" id="absences">
        {% include 'cnto/absence/list.html' %}
    </div>
    <div role="tabpanel" class="tab-pane row" id="groups">
        {% include 'cnto/group/list.html' %}
    </div>
    <div role="tabpanel" class="tab-pane row" id="event-types">
        {% include 'cnto/event/list-type.html' %}
    </div>
    <div role="tabpanel" class="tab-pane row" id="members-discharged">
        {% include 'cnto/member/list-discharged.html' %}
    </div>
  </div>

</div>
{% endblock %}

{% block js %}
<script>
    {% include 'cnto/member/list.js' %}

    {% include 'cnto/absence/list.js' %}

    {% include 'cnto/group/list.js' %}

    {% include 'cnto/event/list-type.js' %}

    {% include 'cnto/member/list-discharged.js' %}

    $(document).ready(function() {

        $('#major-tabs li a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });
    });
</script>
{% endblock %}
