{% load cnto-tags %}

<table id="absence-list-table" class="table table-striped tablesorter">
    <thead>
        <tr>
            <th>Member</th>
            <th>Group</th>
            <th>Type</th>
            <th>Start</th>
            <th>End</th>
            <th>Due days</th>
            <th></th>
        </tr>
    </thead>
    {% for absence in current_absences %}
    <tr>
        <td><a href="{% url 'edit-absence' absence.pk %}">{{ absence.member.name }}</a></td>
        <td>{{ absence.member.member_group.name }}</td>
        <td>{{ absence.absence_type }}</td>
        <td>{{ absence.start_dt|date:'Y-m-d' }}</td>
        <td>{{ absence.end_dt|date:'Y-m-d' }}</td>
        <td>{{ absence|value_of:"due_days" }}</td>
        <td>
            <a href="{% url 'edit-absence' absence.pk %}"><span class="glyphicon glyphicon-edit"
                                                     aria-hidden="true"></span></a>
            <a class="delete-absence" href="#"><span class="glyphicon glyphicon-remove-circle"
                                                     aria-hidden="true"></span></a>
        </td>
    </tr>
    {% endfor %}
</table>

<script>
    $(document).ready(function()
        {
            $("#absence-list-table").tablesorter({
                headers: {
                    5: { sorter: false }
                }
            });
        }
    );
</script>