{% extends "cnto/absence/base.html" %}

{% block content %}
<div class="container col-md-6 col-md-offset-3">
    <h4>Absences for {{ member.name }}</h4>
    <table class="table table-striped">
        <tr>
            <th>Type</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr>
        {% for absence in absences %}
        <tr id="absence-{{ absence.pk }}">
            <td><a href="{% url 'edit-absence' absence.pk %}">{{ absence.absence_type }}</a></td>
            <td>{{ absence.start_dt|date:'Y-m-d' }}</td>
            <td>{{ absence.end_dt|date:'Y-m-d' }}</td>
            <td>
                <a href="{% url 'edit-absence' absence.pk %}"><span class="glyphicon glyphicon-edit"
                                                                    aria-hidden="true"></span></a>
                <a class="delete-absence" href="#"><span class="glyphicon glyphicon-remove-circle"
                                                         aria-hidden="true"></span></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="row">
        <a href="{% url 'create-absence' member.pk %}" class="btn btn-primary" id="create-absence" type="button">
            Create absence
        </a>
        <a href="{% url 'list-members' %}" class="btn btn-default" id="back" type="button">
            Back
        </a>
    </div>

    <div class="modal fade" id="deleting-absence-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Deleting</h4>
                </div>
                <div class="modal-body">
                    <p>Please wait while deleting absence...</p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
{% endblock %}

{% block js %}
<script>
    {% include 'cnto/absence/list-for-member.js' %}
</script>
{% endblock %}