{% load cnto_tags %}

<table id="group-list-table" class="table table-striped tablesorter">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Start date</th>
        <th>End date</th>
        <th></th>
    </tr>
    </thead>
    {% for contribution in active_contributions %}
    <tr id="contribution-{{ contribution.pk }}">
        <td><a href="{% url 'edit-contribution' contribution.pk %}">{{ contribution.member.name }}</a></td>
        <td>{{ contribution.type.name }}</td>
        <td>{{ contribution.start_date|date:'Y-m-d' }}</td>
        <td>{{ contribution.end_date|date:'Y-m-d' }}</td>
        <td>
            <a class="delete-contribution" href="#"><span class="glyphicon glyphicon-remove-circle"
                                                          aria-hidden="true"></span></a>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="modal fade" id="deleting-contribution-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deleting</h4>
            </div>
            <div class="modal-body">
                <p>Please wait while deleting contribution...</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function()
        {
            $("#group-list-table").tablesorter({
                headers: {
                    // assign the secound column (we start counting zero)
                    2: { sorter: false }
                }
            });
        }
    );

</script>