{% extends 'cnto/member/base.html' %}
{% load cnto_tags %}

{% block content %}
<div class="container col-md-8 col-md-offset-2">
    {% if warnings %}
        <table id="warning-list-table" class="table tablesorter">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Warning</th>
                    <th>Acknowledged</th>
                </tr>
            </thead>
            {% for warning in warnings %}
            <tr id="warning-{{ warning.pk }}">
                <td>{{ warning.created }}</td>
                <td>{{ warning.message }}</td>
                <td><input class="toggle-acknowledge-warning" type="checkbox" {% if warning.acknowledged %}checked="checked"{% endif %}/></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>No recorded warnings!</h4>
    {% endif %}
    <a href="{{ member|value_of:'get_absolute_url' }}" class="btn btn-default">Back</a>
    <script>
        $(document).ready(function()
            {
                $("#warning-list-table").tablesorter({

                });
            }
        );
    </script>
</div>

<div class="modal fade" id="acknowledging-warning-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Toggling</h4>
            </div>
            <div class="modal-body">
                <p>Please wait while toggling warning...</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block js %}
<script>
    {% include 'cnto_warnings/list.js' %}
</script>
{% endblock %}