{% extends 'cnto_warnings/base.html' %}
{% load cnto_tags %}

{% block content %}
<div class="container col-md-8 col-md-offset-2">
    <table id="warning-list-table" class="table tablesorter">
        {% if warnings %}
        <thead>
            <tr>
                <th>Member</th>
                <th>Group</th>
                <th>Warning</th>
                <th>Acknowledged</th>
            </tr>
        </thead>
        {% for warning in warnings %}
        <tr id="warning-{{ warning.pk }}">
            <td><a href="{{ warning.member|value_of:'get_absolute_url' }}">{{ warning.member.name }}</a></td>
            <td>{{ warning.member.member_group.name }}</td>
            <td>{{ warning.message }}</td>
            <td><input class="toggle-acknowledge-warning" type="checkbox" {% if warning.acknowledged %}checked="checked"{% endif %}/></td>
        </tr>
        {% endfor %}
        {% else %}
        <h3>No current warnings!</h3>
        {% endif %}
    </table>

    <script>
        $(document).ready(function()
            {
                $("#warning-list-table").tablesorter({

                });
            }
        );
    </script>
</div>

<div class="modal fade" id="acknowledging-warning-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Toggling</h4>
            </div>
            <div class="modal-body">
                <p>Please wait while toggling warning...</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block js %}
<script>
    {% include 'cnto_warnings/list.js' %}
</script>
{% endblock %}