<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
        {% if page_title %}
        {{ page_title }}
        {% else %}
        Carpe Noctem Roster
        {% endif %}
    </title>
    {% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static 'cnto/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'cnto/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'cnto/css/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'cnto/css/cnto-custom.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <script src="{% static 'cnto/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'cnto/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'cnto/js/bootbox.min.js' %}"></script>
    <script src="{% static 'cnto/js/moment.min.js' %}"></script>
    <script src="{% static 'cnto/js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'cnto/js/cnto-utils.js' %}"></script>
    {% block js %}{% endblock %}
</body>

</html>