{% extends "base.html" %}
{% block body %}
<h3>Event browser</h3>
<div id='calendar'></div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {

    var eventsList = [];
    var results = {{ event_data|safe }};
    for (var startDatetimeString in results) {
        eventsList.push({
            title  : results[startDatetimeString]["title"],
            start  : startDatetimeString,
            end : results[startDatetimeString]["end_dt_string"],
            all_day: false
        });
    }


    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        dayClick: function(date, jsEvent, view) {
            var dateComponent = date.format('YYYY') + "/" + date.format('MM') + "/" + date.format('DD');
            window.location = "/view-event/" + dateComponent;
        },
        eventClick: function(calEvent, jsEvent, view) {
            var dateComponent = calEvent.start.format('YYYY') + "/" + calEvent.start.format('MM') + "/" + calEvent.start.format('DD');
            window.location = "/view-event/" + dateComponent;
        },
        events: eventsList
    });
});
</script>

{% endblock %}
