{% extends "cnto/event/base.html" %}

{% block content %}
<div class="container">
    {% if start_time_string %}
    <div class="sub-header">Event from {{ start_date_string }} {{ start_time_string }} to {{ end_time_string }}</div>
    {% else %}
    <div class="sub-header">Event for {{ start_date_string }}</div>
    {% endif %}

    <ul>
        {% for name, attendance_value, bad_attendance in attendance_values %}
        <li {% if bad_attendance %}class="bad-attendance" {% endif %}>{{ name }}: {{ attendance_value }} %</li>
        {% endfor %}
    </ul>
    <form class="highlight">
        {% if event %}
        <h5>Provide information for re-scrape:</h5>
        {% else %}
        <h5>Provide information for new scrape:</h5>
        {% endif %}


        <div class="form-group row">
            <div class="col-xs-1 dropdown">
                Event type:
            </div>
            <div class="col-xs-1 dropdown">
                <button class="btn btn-default" id="event-type-label" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {% if event %}{{ event.event_type.name }}{% else %}Unknown{% endif %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="event-type-label">
                    {% for event_type in event_types %}
                    <li>
                        <a id="{{ event_type.name}}-{{ event_type.pk }}-{{ event_type.default_start_hour }}-{{ event_type.default_end_hour }}"
                           class="event-type-selector" href="#">{{ event_type.name }} </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-1 dropdown">
                Start time:
            </div>
            <div class="col-xs-1 dropdown">
                <button class="btn btn-default" id="start-time-label" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {% if event %}{{ event.event_type.default_start_hour }}h00{% else %}20h00{% endif %} <span
                        class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="start-time-label">
                    <li><a class="start-time-selector" href="#">19h00 </a></li>
                    <li><a class="start-time-selector" href="#">19h30 </a></li>
                    <li><a class="start-time-selector" href="#">20h00 </a></li>
                    <li><a class="start-time-selector" href="#">20h30 </a></li>
                    <li><a class="start-time-selector" href="#">21h00 </a></li>
                </ul>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-1 dropdown">
                End time:
            </div>
            <div class="col-xs-1 dropdown">
                <button class="btn btn-default" id="end-time-label" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {% if event %}{{ event.event_type.default_end_hour }}h00{% else %}23h00{% endif %} <span
                        class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="start-time-label">
                    <li><a class="end-time-selector" href="#">21h00 </a></li>
                    <li><a class="end-time-selector" href="#">21h30 </a></li>
                    <li><a class="end-time-selector" href="#">22h00 </a></li>
                    <li><a class="end-time-selector" href="#">22h30 </a></li>
                    <li><a class="end-time-selector" href="#">23h00 </a></li>
                    <li><a class="end-time-selector" href="#">23h30 </a></li>
                    <li><a class="end-time-selector" href="#">00h00 </a></li>
                    <li><a class="end-time-selector" href="#">00h30 </a></li>
                    <li><a class="end-time-selector" href="#">01h00 </a></li>
                </ul>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-1">
                <button type="button" class="btn btn-primary" id="save-event">Save</button>
            </div>
            <div class="col-xs-1">
                <button type="button" class="btn btn-warning" id="perform-scrape">Scrape</button>
            </div>
            <div class="col-xs-1">
                <a type="submit" href="{% url 'event-browser' %}" class="btn btn-default">Back</a>
            </div>
            {% if event %}
            <div class="col-xs-1">
                <button type="button" href="{{ return_url }}" id="delete-event" class="btn btn-danger">Delete</button>
            </div>
            {% endif %}
        </div>
    </form>

    <div class="modal fade" id="scraping-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Scraping</h4>
                </div>
                <div class="modal-body">
                    <p>Please wait while scraping...</p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- /.modal -->
    <div class="modal fade" id="saving-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Saving</h4>
                </div>
                <div class="modal-body">
                    <p>Please wait while saving...</p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
{% endblock %}

{% block js %}
<script>
    $('#delete-event').on('click', function (e) {
        e.preventDefault();
        bootbox.confirm("Are you sure you wish to delete the event of {{ start_date_string }}?", function (result) {
            if (result) {
                var deleteUrl = "/delete-event/{{ event.pk }}";
                $('#delete-modal').modal('show');

                $.ajax({
                  url: deleteUrl,
                  success: function(data) {
                    window.location = "{% url 'event-browser' %}";
                  },
                  error: function(xhr, status, error) {
                    $('#delete-modal').modal('hide');
                    alert(deleteUrl + ": " + error);
                  }
                });
            }
        });
    });
    $('#save-event').on('click', function (e) {
        e.preventDefault();

        $('#saving-modal').modal('show');

        var eventTypeString = $("#event-type-label").text().replace(/ /g, '');
        var startHourString = $("#start-time-label").text().replace(/ /g, '');
        var endHourString = $("#end-time-label").text().replace(/ /g, '');
        var dateString = "{{ start_date_string }}";
        var saveUrl = "/save-event/" + eventTypeString + "/" + dateString + "/" + startHourString + "/" + endHourString;

        $.ajax({
          url: saveUrl,
          success: function(data) {
            window.location.reload();
          },
          error: function(xhr, status, error) {
            $('#saving-modal').modal('hide');
            alert(saveUrl + ": " + error);
          }
        });
    });
    $('#perform-scrape').on('click', function (e) {
        e.preventDefault();

        $('#scraping-modal').modal('show');

        var eventTypeString = $("#event-type-label").text().replace(/ /g, '');
        var startHourString = $("#start-time-label").text().replace(/ /g, '');
        var endHourString = $("#end-time-label").text().replace(/ /g, '');
        var dateString = "{{ start_date_string }}";
        var scrapeUrl = "/scrape-event/" + eventTypeString + "/" + dateString + "/" + startHourString + "/" + endHourString;


        $.ajax({
          url: scrapeUrl,
          success: function(data) {
            if (!data["success"]) {
                $('#scraping-modal').modal('hide');
                bootbox.alert(data["error"]);
            } else if (data["stats"]["average_attendance"] == 0) {
                $('#scraping-modal').modal('hide');
                bootbox.alert("No relevant events were found!");
            } else {
                window.location.reload();
            }
          },
          error: function(xhr, status, error) {
            $('#scraping-modal').modal('hide');
            bootbox.alert(data["error"]);
          }
        });
    });
    $(".event-type-selector").click(function (e) {
        e.preventDefault();
        //do something
        var idParts = $(this).attr("id").split("-");
        $("#event-type-label").html(idParts[0] + ' <span class="caret"></span>');
        $("#start-time-label").html(idParts[2] + 'h00 <span class="caret"></span>');
        $("#end-time-label").html(idParts[3] + 'h00 <span class="caret"></span>');
    });
    $(".start-time-selector").click(function (e) {
        e.preventDefault();
        //do something
        $("#start-time-label").html(e.target.innerHTML + '<span class="caret"></span>');
    });
    $(".end-time-selector").click(function (e) {
        e.preventDefault();
        //do something
        $("#end-time-label").html(e.target.innerHTML + '<span class="caret"></span>');
    });

    $(document).ready(function () {
        $('#delete-modal').modal({ show: false})
        $('#scraping-modal').modal({ show: false})
        $('#saving-modal').modal({ show: false})
    });


</script>

{% endblock %}
