<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th></th>
    </tr>
    {% for event_type in event_types %}
    <tr id="eventtype-{{ event_type.pk }}">
        <td>{{ event_type.name }}</td>
        <td>{{ event_type.default_start_hour }}h</td>
        <td>{{ event_type.default_end_hour }}h</td>
        <td>
            <a class="edit-event-type" href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&nbsp;
            <a class="delete-event-type" href="#"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
        </td>
    </tr>
    {% endfor %}
</table>
<button id="create-event-type">Create event type</button>

<div class="modal fade" id="deleting-event-type-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deleting</h4>
            </div>
            <div class="modal-body">
                <p>Please wait while deleting event type...</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->