{% load cnto_tags %}

<table id="recruit-list-table" class="table table-striped tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Joined</th>
            <th>Mods due</th>
            <th>Deadline</th>
            <th>BQF</th>
            <th>Events</th>
            <th>Ready</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thead>
    {% for recruit in recruits %}
    <tr id="recruit-{{ recruit.pk }}">
        <td><a {% if recruit.is_absent %}class="absent-link" {% endif %} href="{% url 'edit-member' recruit.pk %}">{{ recruit.name }}</a></td>
        <td>{{ recruit.join_date|date:'Y-m-d' }}</td>
        <td>{{ recruit|value_of:'mod_due_days' }}</td>
        <td>{{ recruit|value_of:'rqf_due_days' }}</td>
        <td>{% if recruit.bqf_assessed %}<span class="glyphicon glyphicon-ok"></span{% endif %}</td>
        <td>{{ recruit|value_of:'events_attended' }}</td>
        <td>{% if recruit|value_of:'ready_for_promotion' %}<span class="glyphicon glyphicon-ok"></span{% endif %}</td>
        <td>{{ recruit|active_note_message }}</td>
        <td>
            <a href="{% url 'edit-note-collection' recruit.pk %}"><span class="glyphicon glyphicon-pencil"
                                                                       aria-hidden="true"></span></a>
        </td>

    </tr>
    {% endfor %}
</table>
<a href="{% url 'create-recruit' %}" class="btn btn-default" id="create-recruit" type="button">
    Create recruit
</a>

<div class="modal fade" id="deleting-recruit-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deleting</h4>
            </div>
            <div class="modal-body">
                <p>Please wait while deleting recruit...</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function()
        {
            $("#recruit-list-table").tablesorter({
                headers: {
                    8: { sorter: false }
                }
            });
        }
    );
</script>