<table id="member-list-table" class="table table-striped tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Group</th>
            <th>Joined</th>
            <th></th>
        </tr>
    </thead>
    {% for member in members %}
    <tr id="member-{{ member.pk }}">
        <td><a href="{% url 'edit-member' member.pk %}">{{ member.name }}</a></td>
        <td>{{ member.rank }}</td>
        <td>{{ member.member_group.name }}</td>
        <td>{{ member.join_dt|date:'Y-m-d' }}</td>
        <td>
            <a href="{% url 'edit-member' member.pk %}"><span class="glyphicon glyphicon-edit"
                                                     aria-hidden="true"></span></a>
            <a href="{% url 'edit-absences' member.pk %}"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></a>&nbsp;
            <a class="delete-member" href="#"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'create-member'%}" class="btn btn-default" id="create-member" type="button">
    Create member
</a>

<div class="modal fade" id="deleting-member-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deleting</h4>
            </div>
            <div class="modal-body">
                <p>Please wait while deleting member...</p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function()
        {
            $("#member-list-table").tablesorter({
                headers: {
                    4: { sorter: false }
                }
            });
        }
    );
</script>