<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Group</th>
        <th></th>
    </tr>
    {% for member in members %}
    <tr id="member-{{ member.pk }}">
        <td>{{ member.name }}</td>
        <td>{{ member.rank }}</td>
        <td>{{ member.member_group.name }}</td>
        <td>
            <a class="edit-member" href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>&nbsp;
            <a class="delete-member" href="#"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
        </td>
    </tr>
    {% endfor %}
</table>
<button id="create-member">Create member</button>