{% extends "event/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div style="float: left;">
            <h3>Event browser</h3>
        </div>
        <div class="dropdown" style="float: right;">
          <button id="start-time-label" class="btn btn-success" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Download <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="start-time-label">
            {% for group in groups %}
                <li><a id="group-{{ group.pk }}" class="download-selector" href="#">{{ group.name }}</a></li>
            {% endfor %}

          </ul>
        </div>
    </div>
    <div id='calendar'></div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {

    function getPKFromElement(memberElement) {
        var memberIdString = memberElement.attr("id");
        return parseInt(memberIdString.split("-")[1]);
    }

    var eventsList = [];
    var results = {{ event_data|safe }};
    for (var startDatetimeString in results) {
        eventsList.push({
            title  : results[startDatetimeString]["title"],
            start  : startDatetimeString,
            end : results[startDatetimeString]["end_dt_string"],
            all_day: false
        });
    }


    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        dayClick: function(date, jsEvent, view) {
            var dateComponent = date.format('YYYY') + "/" + date.format('MM') + "/" + date.format('DD');
            window.location = "/view-event/" + dateComponent;
            console.log();
        },
        eventClick: function(calEvent, jsEvent, view) {
            var dateComponent = calEvent.start.format('YYYY') + "/" + calEvent.start.format('MM') + "/" + calEvent.start.format('DD');
            window.location = "/view-event/" + dateComponent;
        },
        events: eventsList
    });

    $(".download-selector").click(function(e) {
        //do something
        var calendarDate = $("#calendar").fullCalendar("getDate");
        var calendarString = calendarDate.format("YYYY-MM-DD");
        var groupPK = getPKFromElement($(this));

        window.location = "/download-group-month-csv/" + calendarString + "/" + groupPK;
    });

});
</script>

{% endblock %}
